body {
  background-color: black;
  color: white;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dmopnsyae/image/upload/v1570230014/WhatsApp_Image_2019-10-04_at_16.22.51.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: calc(80vh - 60px);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  height: 60px;
  align-items: center;
  display: flex;
}

.nav-item {
  padding: 0 50px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: grey;
  transition: ease 0.2s ease;
}

p {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
}

h1 {
  align-items: flex-start;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  margin-bottom: 0px;
}
