body {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dmopnsyae/image/upload/v1570230014/WhatsApp_Image_2019-10-04_at_16.22.51.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

h1 {
  align-items: flex-start;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 0px;
  width: 15vw;
}

.container {
  margin: 50px;
}


.same-line {
  display: flex;
  justify-content: space-between;
  width: 15vw;
}
